DATABASE_URL=postgres://shortlink:shortlink@localhost:5432/shortlink
JWT_SECRET=a7ro06Rz2uBEyOGkNXIKURZMYZChMWho6wI39IhQK+7wKJKHQoz30leNwWsA+x2v
CORS_ORIGIN=https://knot.vercel.app
APP_URL=https://knot.vercel.app
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<email-brevo>
SMTP_PASS=<key-brevo>
SMTP_FROM=<alamat-pengirim>
